.iconpack-icon {
	height: 32px;
	min-width: 32px;
	width: 58px;
	padding: 5px;

	>span {
		height: 100%;
		width: min-content;
		font-size: 20px;
		line-height: 20px;
		vertical-align: middle;
		overflow: visible;

		i,
		img,
		span,
		svg {
			top: 0;
			height: 20px !important;
			min-width: 20px;
			max-width: 32px !important;
		}

		svg {
			font-size: var(--bs-btn-font-size);
		}
	}
}

.has-change .iconpack-icon {
	border-color: var(--typo3-state-info-border-color, #6daae0);
	background-color: var(--typo3-surface-container-info, rgb(238, 238, 238));
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.modal-iconpack {

	.modal-body {
		display: flex;
		flex-direction: column;
		padding: 0;

		&:after {
			height: 0;
		}
	}

	.form-section {
		border: 0;
		border-bottom: 1px solid silver;
		display: flex;
		justify-content: flex-start;
		padding: 15px 15px 2px;
		column-gap: 15px;

		&>.form-group {
			display: flex;
			flex-direction: column;
			margin-bottom: 0.8em;
		}

		.form-group .form-section {
			border: none;
			padding: 0;
			justify-content: flex-start;
		}

		.icon-ext-iconpack {
			margin-right: .25em;
		}
	}

	.modal-footer {
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 0;
		align-items: center;
		justify-content: flex-end;
		padding: 16px 15px;
	}

	#iconpack-options {
		width: 100%;
	}

	.checkbox-type-icon-toggle {
		margin: 0;
		margin-top: 4px;
	}

	#iconpack-selected {
		border: 1px solid var(--typo3-state-default-hover-border-color, #bbb);
		background: var(--typo3-state-default-hover-bg, #fff);
		border-radius: 4px;
		padding: 10px;
		min-width: 80px;
		flex: none;
		height: 60px;
		margin-left: auto;

		&>div {
			margin: auto;
			height: 100%;
			text-align: center;
			width: min-content;

			i,
			img,
			span,
			svg {
				font-size: 3.34em;
				margin: auto;
				color: var(--typo3-state-default-color, #333);
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				text-rendering: auto;
				line-height: 1;
				height: 1em !important;
				min-width: 1em;
			}
		}
	}

	#iconpack-icons {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100%;
		padding: 10px 15px;

		>.icons-loading {
			display: flex;
			height: 100%;
			width: 100%;
			justify-content: center;
			align-items: center;
		}

		section {
			display: flex;
			flex-wrap: wrap;
			grid-gap: 6px;
			flex: 0 0 62px;
		}

		h2 {
			margin-top: 1.5rem;
			margin-bottom: .3rem;
			border-bottom: 1px solid #eee;
			padding-bottom: .4rem;
			width: 100%;
		}

		ul {
			display: flex;
			padding: 0;
			flex-flow: row wrap;
			flex-direction: row;
			gap: 1px;
		}

		li {
			border-radius: 3px;
			display: inline-flex;
			height: 62px;
			width: 62px;

			img,
			svg {
				width: 32px;
				height: 32px;
			}

			i,
			img,
			span,
			svg {
				font-size: 32px;
				margin: auto;
				color: var(--typo3-state-default-color, #333);
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				text-rendering: auto;
				line-height: 1;
			}

			svg {
				width: auto;
			}

			&.active,
			&:hover {
				border: 1px solid var(--typo3-state-default-hover-border-color, #bbb);
				background: var(--typo3-state-default-hover-bg, #eee);

				svg {
					color: var(--typo3-state-default-hover-color, #333);
				}
			}
		}
	}

	#iconpack-search {
		margin: 0;
		padding: 0;
		flex-basis: 50%;
		margin-right: auto;
		height: auto;

		.form-control-wrap {
			margin: 0;
		}
	}
}
