// icons in a list
// -------------------------

.#{$iconpack-css-prefix}-ul {
  list-style-type: none;
  margin-left: var(--#{$iconpack-css-prefix}-li-margin, #{$iconpack-li-margin});
  padding-left: 0;

  > li { position: relative; }
}

.#{$iconpack-css-prefix}-li {
  left: calc(-1 * var(--#{$iconpack-css-prefix}-li-width, #{$iconpack-li-width}));
  position: absolute;
  text-align: center;
  width: var(--#{$iconpack-css-prefix}-li-width, #{$iconpack-li-width});
  line-height: inherit;
}
