<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<fieldset class="form-section">
    <core:icon identifier="ext-iconpack" size="default" alternativeMarkupIdentifier="inline" />
    <label>
        <f:translate key="LLL:EXT:iconpack/Resources/Private/Language/locallang_be.xlf:label.iconpack"></f:translate>
    </label>
</fieldset>
<fieldset id="iconpack-icons">
    <p>
        <f:translate key="LLL:EXT:iconpack/Resources/Private/Language/locallang_be.xlf:label.iconpack_notfound"></f:translate>
    </p>
</fieldset>

</html>
